:root {
  --indent-size: 1.5em;
  --color-checkbox-bg: #364954;
  --border-thickness-layout: 1px;
  --quote-border: calc(var(--border-thickness-layout) + 2px) solid currentcolor;
}

.notion_renderer {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.notion_renderer > * + * {
  margin-block-start: var(--s-5);
}

.notion_block {
  padding: var(--s-3) var(--s-4);
}

.notion_link {
  color: inherit;
  opacity: 0.7;
  transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
  text-decoration-line: underline;
}

.notion_link:hover {
  opacity: unset;
}

.notion_heading_1 {
  font-size: var(--heading1-size);
  font-weight: 600;
  margin-block-start: var(--s2);
}

.notion_heading_2 {
  font-size: var(--heading2-size);
  font-weight: 600;
  margin-block-start: var(--s1);
}

.notion_heading_3 {
  font-size: var(--heading3-size);
  font-weight: 600;
  margin-block-start: var(--s0);
}

.notion_paragraph {
  /* padding: var(--s-5) var(--s-6); */
}

.notion_paragraph__children {
  padding-inline-start: var(--indent-size);
}

.notion_bulleted_list {
  padding-inline-start: var(--indent-size);
}

.notion_bulleted_list_item {
}

.notion_numbered_list {
  padding-inline-start: var(--indent-size);
}

.notion_numbered_list_item {
  /* margin: 2px 0; */
}

.notion_to_do {
}

.notion_to_do__content {
  display: flex;
}

.notion_to_do__icon {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.notion_checkbox {
  display: flex;
  align-items: center;
}
.notion_checkbox > svg {
  width: 1rem;
  height: 1rem;
  fill: inherit;
}
.notion_checkbox.checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background: var(--color-checkbox-bg);
}
.notion_checkbox.checked > svg {
  width: 0.75em;
  height: 0.75em;
  fill: #fff;
}
.notion_to_do__title.checked {
  opacity: 0.375;
  text-decoration: line-through;
}
.notion_to_do__children {
  margin-inline-start: var(--indent-size);
}

.notion_quote {
  /* font-size: 1rem; */
  margin-block-start: var(--s0);
  border-inline-start: var(--quote-border);
  padding: var(--s-6) var(--s0);
}

.notion_inline_code {
  color: var(--color_inline_code);
}

.notion_toggle {
}

.notion_toggle__summary {
  cursor: pointer;
}

.notion_toggle__content {
  padding-inline-start: var(--indent-size);
}

.notion_column_list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  --column-gap: var(--s0);
  column-gap: var(--s0);
}
.notion_column_list > * {
  flex-grow: 1;
  flex-basis: calc((var(--article-max-width) - var(--column-gap) - 100%) * 999);
}
.notion_column {
}

.notion_divider {
  border: 1px solid var(--color_border_default);
  width: 100%;
  margin-block: var(--s-1);
}

.notin_equation {
  text-align: center;
}

.notion_callout {
  display: flex;
  margin-top: 2px;
  margin-bottom: 4px;
  border: 1px solid var(--color_border_default);
  overflow: hidden;
  padding: var(--callout_padding, var(--s0));
  border-radius: var(--callout-border-radii, 3px);
  box-shadow: var(--callout-shadow, none);
}
.notion_callout__content {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  width: 100%;
}

.notion_image {
  width: 100%;
  max-width: 100%;
}
.notion_image img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: var(--s-6, 1px);
}

.notion_bookmark {
  border: 1px solid var(--color_border_default);
  border-radius: var(--s-3, 3px);
  margin-top: var(--s-1);
}

.notion_bookmark > a {
  display: flex;
}

.notion_synced_block {
  padding-left: 0;
}

.notion_bookmark__content {
  flex: 4 1 180px;
  overflow: hidden;
  padding: var(--bookmark_padding, var(--s-1));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notion_bookmark__title {
  margin: 0 0 2px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion_bookmark__description {
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.7;
  height: 2rem;
  overflow: hidden;
}

.notion_bookmark__link {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.notion_bookmark__link p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion_bookmark__cover {
  flex: 1 1 180px;
}

.notion_bookmark__cover img {
  display: block;
  object-fit: cover;
  border-radius: 0 var(--s-3, 3px) var(--s-3, 3px) 0;
  width: 100%;
  height: 100%;
}

.notion_embed {}

.notion_code > .notion_caption {
  font-size: 0.8rem;
  opacity: 0.7;
}

.notion_table_of_contents {
  border-radius: var(--s-3);
}

.notion_table_of_contents_item {
  padding: var(--s-4) var(--s-5);
  transition: background-color 0.12s ease-in 0s;
}

.notion_table_of_contents_item:hover {
  background-color: var(--color-ui-hover-bg, rgb(71, 76, 80));
}

.notion_table_of_contents_item.notion_table_of_contents_item__heading_1 {
  padding-inline-start: calc(var(--s1) * 0);
}

.notion_table_of_contents_item.notion_table_of_contents_item__heading_2 {
  padding-inline-start: calc(var(--s1) * 1);
}

.notion_table_of_contents_item.notion_table_of_contents_item__heading_3 {
  padding-inline-start: calc(var(--s1) * 2);
}
