:root {
  --indent-size: 1.5em;
  --color-checkbox-bg: #364954;
  --border-thickness-layout: 1px;
  --quote-border: calc(var(--border-thickness-layout) + 2px) solid currentcolor;
}

.notion_renderer {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.notion_renderer>*+* {
  margin-block-start: var(--s-5);
}

.notion_block {
  padding: var(--s-4) var(--s-5);
}


.notion_link {
  color: inherit;
  opacity: 0.7;
  transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
  text-decoration-line: underline;
}

.notion_link:hover {
  opacity: unset;
}

.notion_heading_1 {
  font-size: var(--heading1-size);
}

.notion_heading_2 {
  font-size: var(--heading2-size);
}

.notion_heading_3 {
  font-size: var(--heading3-size);
}

.notion_paragraph {
  padding: var(--s-5) var(--s-6);
}

.notion_paragraph__children {
  padding-inline-start: var(--indent-size);
}

.notion_bulleted_list {
  padding-inline-start: var(--indent-size);
}

.notion_bulleted_list_item {
  /* margin: 2px 0; */
}

.notion_numbered_list {
  padding-inline-start: var(--indent-size);
}

.notion_numbered_list_item {
  /* margin: 2px 0; */
}

.notion_to_do {}

.notion_to_do__content {
  display: flex;
  padding: 0.25em 0;
  margin: 0.25em 0;
  line-height: 1.5;
}

.notion_to_do__icon {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.notion_checkbox {
  display: flex;
  align-items: center;
}

.notion_checkbox>svg {
  width: 1rem;
  height: 1rem;
  fill: inherit;
}

.notion_checkbox.checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background: var(--color-checkbox-bg);
}

.notion_checkbox.checked>svg {
  width: 0.75em;
  height: 0.75em;
  fill: #fff;
}

.notion_to_do__title.checked {
  opacity: 0.375;
  text-decoration: line-through;
}

.notion_to_do__children {
  margin-inline-start: var(--indent-size);
}

.notion_quote {
  font-size: 1.25rem;
  border-inline-start: var(--quote-border);
  padding: var(--s-6) var(--s0);
}

.notion_inline_code {
  color: var(--color_inline_code);
}

.notion_toggle {}

.notion_toggle__summary {
  cursor: pointer;
}

.notion_toggle__content {
  padding-inline-start: var(--indent-size);
}

.notion_column_list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--s0);
}

.notion_column_list>* {
  flex-grow: 1;
  flex-basis: calc((var(--article-max-width) - 100%) * 999);
}

.notion_column {}

.notion_divider {
  border: 1px solid var(--color-border-default);
  width: 100%;
  margin-block: var(--s-1);
}

.notin_equation {
  text-align: center;
}

.notion_callout {
  display: flex;
  margin-top: 2px;
  margin-bottom: 4px;
  border: 1px solid var(--color_border_default);
  overflow: hidden;
  padding: var(--callout-padding, var(--s0));
  border-radius: var(--callout-border-radii, 3px);
  box-shadow: var(--callout-shadow, none);
}
.notion_callout__content {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  width: 100%;
}
