.notion_collection_gallery {
  display: grid;
  --collection-card-cover-size-medium: 260px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--collection-card-cover-size-medium), 1fr)
  );
  grid-auto-rows: 1fr;
  padding-top: 16px;
  padding-bottom: 4px;
  --collection-header-border: var(--border-layout);
  border-top: var(--collection-header-border);
  --collection-card-gap: 10px;
  gap: var(--collection-card-gap);
}
.notion_collection_card {
  width: 100%;
  height: 100%;
  transition: background 0.12s ease-in 0s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: var(--color-card-bg);
  padding: var(--collection-card-padding);
  border-radius: var(--collection-card-border-radii, 5px);
  box-shadow: var(
    --collection-card-shadow,
    rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px
  );
}
.notion_collection_card__cover {
  /* min-height: 115px; */
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
}
.notion_collection_card__cover img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
