.notion_collection_gallery {
  display: grid;
  --collection-card-cover-size-medium: 260px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--collection-card-cover-size-medium), 1fr)
  );
  grid-auto-rows: 1fr;
  padding-top: 16px;
  padding-bottom: 4px;
  --collection-header-border: var(--border-layout);
  border-top: var(--collection-header-border);
  --collection-card-gap: 10px;
  gap: var(--collection-card-gap);
}
.notion_collection_card {
  overflow: hidden;
  border-radius: var(--s-3);
  box-shadow: #00000020 0px 2px 4px 2px;
  position: relative;
}
.notion_collection_card__anchor {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.notion_collection_card__cover {
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notion_collection_card__cover img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.notion_collection_card__content {
  padding: var(--s-1);
}
.notion_collection_card .notion_property_item__title {
  font-size: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
}
.notion_collection_card .notion_icon {
  display: inline-block;
  width: var(--s0);
  height: var(--s0);
  aspect-ratio: 1;
  margin-inline-end: 0.5rem;
}
.notion_collection_card .notion_icon.notion_icon__external {
  vertical-align: text-top;
}
.notion_collection_card .notion_icon > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.notion_collection_card .notion_property_list {
  margin-block-start: var(--s0);
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion_collection_card .notion_property_list .notion_property_item {
  display: flex;
  align-items: center;
}
