:root {
  --page_cover_height: 30vh;
  --page_cover_image_object-fit: cover;
  --page-title-size: 2.5rem;
}

.notion_page_cover {
  display: flex;
  block-size: var(--page_cover_height);
}

.notion_page_cover img {
  block-size: auto;
  inline-size: 100%;
  object-fit: var(--page_cover_image_object-fit, cover);
}

.notion_page_title {
  font-size: var(--page-title-size);
}
