@import "./variables.css";
@import "./colors.css";
@import "./notion/page.css";
@import "./notion/block.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--color_default);
    background-color: var(--color_default_background);
    line-height: 2;
    fill: currentColor;
  }

  p {
    margin: 0;
    padding: 1px;
  }

  summary > h1,
  summary > h2,
  summary > h3 {
    display: inline-block;
  }
  ol,
  ul,
  menu {
    list-style: revert;
    /* margin: revert; */
    /* padding: revert; */
  }
}

@layer components {
  .layout-article {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 70ch) 1fr;
    column-gap: 1.5rem;

    & > * {
      grid-column: 2;
    }

    & .full-bleed {
      grid-column: 1/4;
    }
  }
}
