/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

.notion-page,
.notion-database {
  grid-template-columns: [full-start] 1fr [content-start] 70ch [content-end] 1fr [full-end];
}

.notion-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 4px 4px;
  gap: 1rem;
}
